$montserrat: 'Montserrat', sans-serif;
$bg-indexbig: url(../assets/img/slider.jpg);
$bg-indexsmall: url(../assets/img/realidadvr-index.jpg);
$bg-vr: url(../assets/img/realidadvr_vr.jpg);
$bg-bch: url(../assets/img/BLOCKCHAIN.jpg);
$bg-nfts: url(../assets/img/nft_conciertos.jpg);
$bg-gaming: url(../assets/img/gaming.jpg);
